<%- include('partials/header'); -%>
<!-- Nav Bar -->
<%- include('partials/nav'); -%>

<%- include('partials/title'); -%>

<%- include('partials/general-paragraph'); -%>

<section id="meal">
  <div class="container-fluid container-meal">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <button class="button-meal" id="button-meal">Press Me</button>
      </div>
      <div class="col-lg-6 col-md-6">
        <h2 class="title-play">Feeling hungry?</h2>
        <p id="today-meal">Click on the button to discover your next meal!</p>
        <div class="signup-meal">
          <p>Fancy a customer picker meal ?</p>
          <button type="button" class="btn btn-outline-light">Sign up</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="drinks">

  <div class="container-fluid container-drinks">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <button class="button-drinks" id="button-drinks">Press Me</button>
      </div>
      <div class="col-lg-6 col-md-6">
        <h2 class="title-play">Feeling thirsty?</h2>
        <p id="today-drinks">Click on the button and have a drink!</p>
        <div class="signup-drinks">
          <p>Fancy a customer picker drink?</p>
          <button type="button" class="btn btn-outline-light">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="signup">

  <div class="container-fluid container-signup">
    <h3 class="title-signup">Fancy meals or drinks tailor to your taste and life style?</h3>
    <p class="p-signup">Sign up with us</p>
    <div class="sign">
      <button type="button" class="btn btn-home btn-outline-light">Sign up</button>
    </div>
  </div>

</section>


<%- include('partials/footer'); -%>
