<%- include('partials/header'); -%>
<!-- Nav Bar -->
<%- include('partials/nav-log'); -%>

<%- include('partials/title'); -%>

<%- include('login-paragraph'); -%>

<section id="meal">
  <div class="container-fluid container-meal">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <button class="button-meal" id="button-meal-log" onclick="getMeal()">Press Me</button>
      </div>
      <div class="col-lg-6 col-md-6">
        <h2 class="title-play">Feeling hungry ?</h2>
        <p id="today-meal-log">Click on the buttom to discover your next meal!</p>
      </div>
    </div>
  </div>
</section>

<section id="drinks">
  <div class="container-fluid container-drinks">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <button class="button-drinks" id="button-drinks-log" onclick="getDrink()">Press Me</button>
      </div>
      <div class="col-lg-6 col-md-6">
        <h2 onclick="changeText(this)" class="title-play">Feeling thristy ?</h2>
        <p id="today-drinks-log">Click on the buttom and have a drink !</p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  let options =  "<%= mealOption %>".split(',');
  let breakfastOptions = ["Acai bowl", "Croissant", "Avocado Toast", "Jam Tartine", "Pain au chocolat","Cereal","English breakfast"];
  let hotDrinks = ["Tea", "Coffe", "Hot chocolat", "Mule wine", "Red Wine"];
  let coldDrinks = ["Smoothie", "Beer", "Water", "Ice cream", "White Wine", "Iced oat latte", "Ice Tea", "Juice"];

  function selectDrinksByTemp(hotDrinks, coldDrinks) {
    if (<%=temp%> >= 20) {
      return coldDrinks;
    } else if (<%=temp%> < 20) {
      return hotDrinks;
    }
  }

  function getDrink() {
    let drinkOptions = selectDrinksByTemp(hotDrinks,coldDrinks);
    let todayDrinkLog = getRandomVictual(drinkOptions);
    modifyLayoutVictualResult("drinks-log", todayDrinkLog);
  }

  function getMeal() {
    foodOptions = getFood(hours,options,breakfastOptions);
    let todayMealLog = getRandomVictual(foodOptions);
    modifyLayoutVictualResult("meal-log", todayMealLog);
  }
</script>

<%- include('partials/footer'); -%>
